
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

/* BODY + HEADER */
body {
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.header-row {
  margin-top: 10px;
  height: 120px;
  background: #161a1d;
  text-align: center;
  font-size: 80px;
  color: azure;
  padding-top: 16px;
  padding-left: 16px;
}

/*#app-notifications {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px 0px;
  box-sizing: border-box;
  background-color: #e69999;
  font-family: Lato, Arial, serif;
  font-size: 16px;
  font-weight: bold;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
}*/

#app-container {
  text-align: center;
}

.form-container {
    text-align: center;
    margin-bottom: 30px;
}

#address-search {
    width: 450px;
    font-size: 16px;
}

#map-container {
    text-align: center;
}

#map {
    margin: 0 auto;
    height: 400px;
    width: 600px;
}


