
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

/* BODY + HEADER */
body {
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.header-row {
  margin-top: 10px;
  height: 120px;
  background: #161a1d;
  text-align: center;
  font-size: 80px;
  color: azure;
  padding-top: 16px;
  padding-left: 16px;
}

.form-container {
    text-align: center;
}

.input-field {
    width: 400px;
    font-size: 18px;
}


